<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.carlesllobet.livesoccer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_livesoccer"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.EquipActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.GifActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.HelpActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.JornadaActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.JugadorActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.NewEquipActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.NewJornadaActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".UI.NewJugadorActivity"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
